{% extends "ttkom/base.html" %}
{% load static %}
{% block title %}envoie du email effectuer{% endblock %}
{% block image %}{% static "ttkom/img/password-bg.png" %}{% endblock %}
{% block head_title %}Les instructions ont été envoyés par mail{% endblock %}
{% block subheading %}{% endblock %}
{% block header_option %}<a href="#form" class="scroll-down"></a>{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                Si tu as mis le bon email c'est envoyé
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
