{% extends 'portfolio/base.html' %}
{% load static %}
{% block picture %}{% static "ttkom/img/bg_portfolio.jpg" %}{% endblock %}
{% block head_title %}Bonjour{% endblock %}
{% block subheading %}Et voila mon Portfolio{% endblock %}
{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="text-center">Bonjour,</h1>
            <div>
            Je m'appel charles rigal je suis actuellement en 2eme année de bts sio que je passe en alternance dans l'entreprise Vinci
            autoroutes dans le lysée theodore aubannelle je suis parssioner par le developement les systeme unix partiqulierement GNU/linux
            j'appressi partiqulierement le developement en python et c++

            dans ce portefolio j'expose une partie de mes competance que j'ai aquise dans mes formation 
            </div>
        </div>
    </div>
</div>
{% endblock %}