{% extends "portfolio/base.html" %}
{% load static %}
{% block picture %}{{ projet.picture.url }}{% endblock %}
{% block head_title %}{{ projet.name }}{% endblock %}
{% block subheading %}{{ projet.subtitle }}{% endblock %}
{% block content %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% autoescape off %}
                {{ projet.wording }}
                {% endautoescape %}
                <hr>
            </div>
            <hr>
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="post-meta">
                    competence en lien
                    {% for skill in skills %}
                    <a href="{% url 'skill' skill.pk %}">
                        {{ skill.name }}
                    </a>
                    {% empty %}
                        Pas de competence en lien
                    {% endfor %}
                </p>
                <hr>
            </div>
        </div>
    </div>
</article>
<hr>
{% endblock %}
